<app-navbar></app-navbar>
<div class="conatiner">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-12 col-xxl-12">
        <table class="table">
          <thead>
            <tr  >
              <th scope="col">User ID</th>
              <th scope="col"> ID </th>
              <th scope="col">Title</th>
              <th scope="col">Body</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of data" >
              <td scope="row">{{i.userId}} </td>
              <td colspan="1">{{i.id}}</td>
              <td>{{i.title}}</td>
              <td>{{i.body}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>